<div class="main_box">
    <div class="main_box__item">
        <h2 class="content">
            ぼくらはいったい地球のことをどのくらい知っているだろうか<br/> あるいは アウトドアでの行動・生活・観察についての一省察野帖<br/> または
        </h2>
    </div>
    <div class="arrow">
      <%= image_tag 'arrow.gif', alt: 'arrow' %>
    </div>
</div>
<!-- 矢印 -->
<!-- 矢印終わり -->

<div id="about">
  <div class="about" class="box_about">
    <!-- <h1>ABOUT</h1> -->
    <div class="box__item__about">
        <p>こんな不思議な書き出しで始まるタイトル『みんなで月に行くまえに』という本があります。
        私たちはこの素敵な読本から刺激を受けて同名の野外ワークショップ企画を起こすことにいたしました。
        </p>
        <p>
        しかし残念ながら私たちの職業はデザイナー、音楽家、そしてカフェオーナー、誰も本格的なサバイバル技術を人に教えることは出来ません。 けれども自然を感じたり、楽しむことなら得意です。何か作ったり、表現するのも大好きです。
        </p>
        <p>「みんなで月に行くまえに」という名前のこのワークショップ、 これは、私たちなりの同書への返答であり、解釈であり、そして皆さんへの招待状でもあります。
        </p>
        <p>人類が宇宙を旅したり、移住したりするのも遠い未来じゃありません。 やがて来る宇宙の時代。みんなで月に行くまえに、 １冊の本を手引きに携え、もっと地球で遊びませんか？
        </p>
        <!-- <div class="about_member"> -->
        <div class="about_member">
            <p><a href="https://himadacoffee.blogspot.com/" target="_blank">齊藤啓介 / HIMADA COFFEE - 店主</a><br/>
                <a href="http://hammockmassage-chilling.com" target="_blank">小池信行/ Chilling - Hammock Massage</a><br/>
                <a href="https://www.shop-sunshine-to-you.com/" target="_blank">木原佐知子 / sunshine to you! - デザイナー</a><br/>
                <a href="https://sphontik.com/" target="_blank">木原健児 / 音楽家</a></p>
        </div>
        <!-- </div> -->
    </div>
  </div>
</div>
