<div id="event">
  <h1 class="top-title">WORKSHOP/EVENT</h1>
  <div class="event_box">
    <div class="event_left">
      <p class="event_left__item"><%= image_tag 'unbalanced_mobile.jpg', alt: "不均衡なモビール" %></p>
    </div>
    <div class="event_right">
      <div class="event_right__item">
        <div class="event_title">
          <p>不均衡なモビールづくり</p>
        </div>
        <div class="event_content">
          <p>
            山を探検して採取した植物など吊るして、牧野富太郎の言葉の短冊と葉山の石でバランスをとってモビールをつくります。<br/> 採取した植物は、参加者のみなさんと観察し、調べて記録に残します。
            <br/> 時間とともに植物は変化し、その過程での重さ、空間、空気など、何かを感じとっていただけると思っています。
            <br/> ＊今回は大人向けのワークショップとなります。<br/>
            <br/> 日時：5月15日（水） 11:00～15:00<br/> 参加費: 5500円（HIMADA COFFEEのお弁当・おやつ・飲み物・モビールに合う音楽付き）<br/> 集合場所: HIMADA COFFEE <br/>持ち物: ハサミ、色鉛筆、わくわくする心<br/>
            <br/>ご予約方法：
            <a href="mailto:before.go.to.the.moon@gmail.com?subject=不均衡なモビールづくり&body=【お名前】%0D%0A【人数】%0D%0A【ご連絡先】%0D%0A【備考】">before.go.to.the.moon[at]gmail.com</a> まで、</br>
            「お名前・メール or 日中つながるご連絡先・参加人数」を明記のうえ、お申し込みください。<br/>
            <br/>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="notes">
    <iframe src="https://player.vimeo.com/video/216371847?loop=1&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
  </div>
</div>
