<div id="event">
  <h1 class="top-title">WORKSHOP/EVENT</h1>
  <% @events.each do |event| %>
    <div class="event_container">
      <div class="event_box">
        <div class="event_left">
          <p class="event_left__item"><%= image_tag 'unbalanced_mobile.jpg', alt: "不均衡なモビール" %></p>
        </div>
        <div class="event_right">
          <div class="event_right__item">
            <div class="event_title">
              <p><%= event.title %></p>
            </div>
            <div class="event_content">
              <p><%= simple_format(event.content) %></p>
            </div>
          </div>
        </div>
      </div>
      <% if event.video_path.present? %>
        <div class="notes">
          <%= vimeo_iframe(event.video_path) %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
