<section id="review">
  <div class="review_box">
    <h1>BOOK/REVIEW</h1>
    <div class="review_image">
      <p><%= image_tag 'bgm_main.JPG', width: '100%' %></p>
    </div>

    <div class="review_content_box">
      <div class="review_title">
        <h2>01. みんなで月に行くまえに</h2>
      </div>

      <div class="review_content">
        <p>さて、ブックレビュー欄を始めるにあたり、 まずは表題である書籍『みんなで月に行くまえに』を紹介させていただくのが順当でありましょう。

        </p>
        <p>例えばこれから誰もが月に行ける時代が来るとして、 皆さんだったら、それまでどのように過ごされますか？ 月のこと、宇宙のことを学んでおくのもいいでしょう。
          <br/ class="br-sp">
            最新の宇宙服を用意しておくのもお洒落です。 でも、この星をもっとよく見て回り、 より深く知っておくのも素敵なことではないでしょうか。

          </p>
          <p>みんなで月に行くその前に、まずはきちんと「地球の上に生きる」こと。
            <br/ class="br-sp">
              それがこの本の主旨なのだと、私たちはそう受け取りました。
            </p>
            <br/>
            <p>地球の上に生きる</p>
            <br/>
            <p>この言葉を聞いて おや？ と思った方もいらっしゃるかもしれません。</p>
            <p>『地球の上に生きる』」は１９７0年に出版された アリシア・ベイ・ローレルによる本です。

            </p>
            <p>当時２０歳だったヒッピーの女の子による ナチュラル・ライフの教本は、日本では１９７２年に翻訳され 今でも多くの人に生き方のお手本として親しまれています。

            </p>
            <p>『みんなで月に行くまえに』は、そんな『地球の上に生きる』への、 山男からの返答なのでは？そのようにも感じられます。

            </p>
            <p>イラストや構成など、ローレルを意識したと思われる節があるからです。</p>
            <p>真似ごと、と言ってしまえばそれまでですが、 そうは思わせないオリジナリティと内容の充実がこの本にあるのは、 作者である松島駿二郎氏と、イラストの磯貝浩氏、 そしてお二人が主催する「ぐるーぷ・ぱあめ」の面々が 十分な経験を積んだアウトドアズマンであり、 生粋の旅人であり、また誰よりも地球の上に生きるのを楽しんでいたからこそなのでしょう。

            </p>
            <p>内容は、歩く、火をつける、非常食や保存食、野草の食べ方から ナイフや方位磁石の使いかた、キャンプや釣り、サイクリング、星を見ることなどなど、
            </p>
            <p>たくましく生き抜くための技術や教訓が、ユーモラスな文体、 愉快なイラストや写真、金言などと共に紹介されています。

            </p>
            <p>私たちが本書より感化を受けて同名のワークショップ企画を興すに至ったことはメインページでもご挨拶させて頂きました。
            </p>
            <p>表紙に書かれた文字をそのまま受け取るなら、この本の正式名称は 『ぼくらはいったい地球のことをどのくらい知っているだろうか あるいは アウトドアでの行動・ 生活・観察についての自然愛好家の一省察野帖 または みんなで月に行くまえに』と、 このようになります。
            </p>
            <p>どこからがタイトルで、どこまでがサブタイトルなのかは分かりませんが、 つまりは、地球をより深く体験知する為の、 アウトドアでの知恵の手引きが本書であると言えるでしょう。

            </p>
            <p>このように人を煙に巻くみたいな悪戯心あるネーミングセンスも、 ことさらにチャーミングですね。

            </p>
            <p>本書はもともと新聞連載されていた記事を再編したものになります。</p>
            <p>発行元である“ぱあめ文庫”とは前出の創作集団“ぐるーぷ・ぱあめ”の出版部門であり、 旅や冒険といったテーマを得意とする編集プロダクションでありました。

            </p>
            <p>発売は山と渓谷社よりされています。</p>
            <p>出版は１９８０年。 NASAの月面着陸よりも約１０年。
            </p>
            <p>いよいよ現実味を帯びる宇宙の開拓時代。 誰もが宙ばかり見ていたその時に、 「もっとしっかり地球に生きろよ！」と叱るでなしに、 みんなで月に行くまえに・・・なんてさらりと示唆するその姿勢が、 最高に愉快であり、心地いいではありませんか！

            </p>
            <p>時は流れて２０１９年。国家間の宇宙開発競争は沈静化したものの、 月や火星への移住を本格的に協議する時代に今 私たちは暮らしています。

            </p>
            <p>だからこそ、いま一度 地球のことを… なんて、大仰なもの言いはきっと不要なのでしょう。

            </p>
            <p>とは言え、きっと大仰なもの言いは不要なのでしょう。</p>
            <p>本書でも自然を知ることは「人類の問題ではなく、個人のレベルの問題だ」と そのように書いてあります。
            </p>

            <p>「ぱあめ」とはギリシア語で「さあ、ぼちぼち行こうか」という意味だとか。先ずは、本書を携えて、野に出てみることから、ぼちぼち始めてみませんか？
            </p>
            <p>私たちは『みんなで月に行くまえに』を手掛かりに、 もっと自然を知り、地球を楽しむ為の企画を提案していきたいと思います。

            </p>
            <p>どうぞ宜しくお願いします。</p>
            <br/>
            <p>ヒマダコーヒー：齊藤</p>
            <p>ご挨拶に代えて</p>
      </div>
    </div>
  </div>
</section>
