<div class="text_center">
  <p class="mb30"><%= link_to '新規作成する', new_admin_review_path %></p>

  <h4>Review一覧</h4>
  <% @reviews.each do |review| %>
    <p><%= review.title %>
      <%= link_to '編集する', edit_admin_review_path(review)%> /
      <%= link_to '削除する', admin_review_path(review), method: :delete, data: { confirm: '本当に削除しますか?' } %>
    </p>
  <% end %>
</div>
