<div class="header_left">
    <div class="frame_border_left">
        <ul id="nav">
            <li><a href="index.html#about">ABOUT</a></li>
            <li><a href="index.html#event">WORKSHOP/EVENT</a></li>
            <li><a href="index.html#review">REVIEW</a></li>
        </ul>
    </div>
</div>

<div class="header_right"></div>
