<header>
  <div id="header_left">
      <div class="head_left">
          <ul id="nav">
              <li><%= link_to 'ABOUT', root_path %></li>
              <li><%= link_to 'WORKSHOP/EVENT', events_path %></li>
              <li><a href="index.html#review">REVIEW</a></li>
          </ul>
      </div>
  </div>

  <div id="header_right"></div>
</header>
