<div class="main">

    <div class="box clearfix">
        <div class="box__item clearfix">
            <h2 class="content">
                ぼくらはいったい地球のことをどのくらい知っているだろうか<br/> あるいは アウトドアでの行動・生活・観察についての一省察野帖<br/> または
            </h2>
        </div>
    </div>

    <div id="about" class="box_about">
        <h1>ABOUT</h1>
        <div class="box__item__about">
            <p>こんな不思議な書き出しで始まるタイトル『みんなで月に行くまえに』という本があります。
            </p>
            <p>私たちはこの素敵な読本から刺激を受けて同名の野外ワークショップ企画を起こすことにいたしました。
            </p>
            <p>しかし残念ながら私たちの職業はデザイナー、音楽家、そしてカフェオーナー、 <br/>誰も本格的なサバイバル技術を人に教えることは出来ません。 けれども自然を感じたり、楽しむことなら得意です。何か作ったり、表現するのも大好きです。
            </p>
            <p>「みんなで月に行くまえに」という名前のこのワークショップ、 これは、私たちなりの同書への返答であり、解釈であり、そして皆さんへの招待状でもあります。
            </p>
            <p>人類が宇宙を旅したり、移住したりするのも遠い未来じゃありません。 やがて来る宇宙の時代。みんなで月に行くまえに、 １冊の本を手引きに携え、もっと地球で遊びませんか？
            </p>
            <!-- <div class="about_member"> -->
            <div class="about_member">
                <p><a href="https://himadacoffee.blogspot.com/" target="_blank">齊藤啓介 / HIMADA COFFEE - 店主</a><br/>
                    <!-- <a href="http://hammockmassage-chilling.com" target="_blank">小池信行/ Chilling - Hammock Massage</a><br/> -->
                    <a href="https://www.shop-sunshine-to-you.com/" target="_blank">木原佐知子 / sunshine to you! - デザイナー</a><br/>
                    <a href="https://sphontik.com/" target="_blank">木原健児 / 音楽家</a></p>
            </div>
            <!-- </div> -->
        </div>
    </div>

    <div class="comming_soon" id="event">
        <h1 class="top">WORKSHOP/EVENT</h1>
        <!-- <h1>2019.5.15. wed.</h1> -->
        <!-- <h1>vol.1 開催</h1> -->
        <!-- <h1 class="bottom">COMING SOON</h1> -->
    </div>

    <div class="box_event">
        <div class="box_event_left">
            <div class="box_event_left__item">
                <img src="img/unbalanced_mobile.jpg" alt="不均衡なモビール">
            </div>
        </div>
        <div class="box_event_right">
            <div class="box_event_right__item">
                <div class="box_event_right__item_1">
                    <span class="top">
        不均衡なモビールづくり
        </span>
                </div>
                <p>
                    山を探検して採取した植物など吊るして、牧野富太郎の言葉の短冊と葉山の石でバランスをとってモビールをつくります。<br/> 採取した植物は、参加者のみなさんと観察し、調べて記録に残します。
                    <br/> 時間とともに植物は変化し、その過程での重さ、空間、空気など、何かを感じとっていただけると思っています。
                    <br/> ＊今回は大人向けのワークショップとなります。<br/>
                    <br/> 日時：5月15日（水） 11:00～15:00<br/> 参加費: 5500円（HIMADA COFFEEのお弁当・おやつ・飲み物・モビールに合う音楽付き）<br/> 集合場所: HIMADA COFFEE <br/>持ち物: ハサミ、色鉛筆、わくわくする心<br/>
                    <br/>ご予約方法：
                    <a href="mailto:before.go.to.the.moon@gmail.com?subject=不均衡なモビールづくり&body=【お名前】%0D%0A【人数】%0D%0A【ご連絡先】%0D%0A【備考】">before.go.to.the.moon[at]gmail.com</a> まで、</br>
                    「お名前・メール or 日中つながるご連絡先・参加人数」を明記のうえ、お申し込みください。<br/>
                    <br/>
                </p>
            </div>
        </div>
    </div>

    <div class="video">
        <iframe src="https://player.vimeo.com/video/216371847?loop=1&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>


    <div class="review" id="review">
        <div class="review_box">
            <h1>BOOK/REVIEW</h1>
            <div class="review_box__item">
                <img src="img/bgm_main.JPG" alt="みんなで月に行く前に">
            </div>
            <div class="review_content__item">
                <div class="review_content__item_title">
                    <h4>01. みんなで月に行くまえに</h4>
                </div>
                <div class="review_content__item_content">
                    <p>さて、ブックレビュー欄を始めるにあたり、 まずは表題である書籍『みんなで月に行くまえに』を紹介させていただくのが順当でありましょう。

                    </p>
                    <p>例えばこれから誰もが月に行ける時代が来るとして、 皆さんだったら、それまでどのように過ごされますか？ 月のこと、宇宙のことを学んでおくのもいいでしょう。
                        <br/ class="br-sp"> 最新の宇宙服を用意しておくのもお洒落です。 でも、この星をもっとよく見て回り、 より深く知っておくのも素敵なことではないでしょうか。

                    </p>
                    <p>みんなで月に行くその前に、まずはきちんと「地球の上に生きる」こと。
                        <br/ class="br-sp"> それがこの本の主旨なのだと、私たちはそう受け取りました。
                    </p>
                    <br/>
                    <p>地球の上に生きる</p>
                    <br/>
                    <p>この言葉を聞いて　おや？　と思った方もいらっしゃるかもしれません。</p>
                    <p>『地球の上に生きる』」は１９７0年に出版された アリシア・ベイ・ローレルによる本です。

                    </p>
                    <p>当時２０歳だったヒッピーの女の子による ナチュラル・ライフの教本は、日本では１９７２年に翻訳され 今でも多くの人に生き方のお手本として親しまれています。

                    </p>
                    <p>『みんなで月に行くまえに』は、そんな『地球の上に生きる』への、 山男からの返答なのでは？そのようにも感じられます。

                    </p>
                    <p>イラストや構成など、ローレルを意識したと思われる節があるからです。</p>
                    <p>真似ごと、と言ってしまえばそれまでですが、 そうは思わせないオリジナリティと内容の充実がこの本にあるのは、 作者である松島駿二郎氏と、イラストの磯貝浩氏、 そしてお二人が主催する「ぐるーぷ・ぱあめ」の面々が 十分な経験を積んだアウトドアズマンであり、 生粋の旅人であり、また誰よりも地球の上に生きるのを楽しんでいたからこそなのでしょう。

                    </p>
                    <p>内容は、歩く、火をつける、非常食や保存食、野草の食べ方から ナイフや方位磁石の使いかた、キャンプや釣り、サイクリング、星を見ることなどなど、
                    </p>
                    <p>たくましく生き抜くための技術や教訓が、ユーモラスな文体、 愉快なイラストや写真、金言などと共に紹介されています。

                    </p>
                    <p>私たちが本書より感化を受けて同名のワークショップ企画を興すに至ったことはメインページでもご挨拶させて頂きました。
                    </p>
                    <p>表紙に書かれた文字をそのまま受け取るなら、この本の正式名称は 『ぼくらはいったい地球のことをどのくらい知っているだろうか　あるいは　アウトドアでの行動・ 生活・観察についての自然愛好家の一省察野帖　または　みんなで月に行くまえに』と、 このようになります。
                    </p>
                    <p>どこからがタイトルで、どこまでがサブタイトルなのかは分かりませんが、 つまりは、地球をより深く体験知する為の、 アウトドアでの知恵の手引きが本書であると言えるでしょう。

                    </p>
                    <p>このように人を煙に巻くみたいな悪戯心あるネーミングセンスも、 ことさらにチャーミングですね。

                    </p>
                    <p>本書はもともと新聞連載されていた記事を再編したものになります。</p>
                    <p>発行元である“ぱあめ文庫”とは前出の創作集団“ぐるーぷ・ぱあめ”の出版部門であり、 旅や冒険といったテーマを得意とする編集プロダクションでありました。

                    </p>
                    <p>発売は山と渓谷社よりされています。</p>
                    <p>出版は１９８０年。 NASAの月面着陸よりも約１０年。
                    </p>
                    <p>いよいよ現実味を帯びる宇宙の開拓時代。 誰もが宙ばかり見ていたその時に、 「もっとしっかり地球に生きろよ！」と叱るでなしに、 みんなで月に行くまえに・・・なんてさらりと示唆するその姿勢が、 最高に愉快であり、心地いいではありませんか！

                    </p>
                    <p>時は流れて２０１９年。国家間の宇宙開発競争は沈静化したものの、 月や火星への移住を本格的に協議する時代に今　私たちは暮らしています。

                    </p>
                    <p>だからこそ、いま一度 地球のことを… なんて、大仰なもの言いはきっと不要なのでしょう。

                    </p>
                    <p>とは言え、きっと大仰なもの言いは不要なのでしょう。</p>
                    <p>本書でも自然を知ることは「人類の問題ではなく、個人のレベルの問題だ」と そのように書いてあります。
                    </p>

                    <p>「ぱあめ」とはギリシア語で「さあ、ぼちぼち行こうか」という意味だとか。先ずは、本書を携えて、野に出てみることから、ぼちぼち始めてみませんか？
                    </p>
                    <p>私たちは『みんなで月に行くまえに』を手掛かりに、 もっと自然を知り、地球を楽しむ為の企画を提案していきたいと思います。

                    </p>
                    <p>どうぞ宜しくお願いします。</p>
                    <br/>
                    <p>ヒマダコーヒー：齊藤</p>
                    <p>ご挨拶に代えて</p>
                </div>
            </div>
        </div>
    </div>
    <!-- event end -->


</div>
<!--  main   -->





<!-- 右サイド -->
<div class="menu">
    <div class="frame_border_right">
        <h1 class="title"><a href="index.html">みんなで月に行くまえに</a></h1>
    </div>
</div>
<!-- 右サイド終わり -->

<!-- 矢印 -->
<div class="arrow">
    <img src="img/arrow.gif" alt="arrow">
</div>
<!-- 矢印終わり -->
