<header>
  <div id="header_left">
      <div class="head_left">
          <ul id="nav">
              <li>管理画面</li>
              <li><%= link_to 'EVENT', admin_events_path %></li>
              <li><%= link_to 'REVIEW', admin_reviews_path %></li>
              <li><%= link_to 'ホーム', root_path %></li>
          </ul>
      </div>
  </div>

  <div id="header_right"></div>
</header>
